@mixin sections {
    display: flex;
    justify-content: space-between;
    // flex??
    width: 100%; // denna iaf 
    padding: 20px; // rimlig? 
}

// not needed
// @mixin links {
//     text-decoration: none;
//     list-style: none;
// }