$content-width: 100%; // if i use mixin i dont need this one 

// colors examples 
$color-bg: #ffffff;
$color-text: #222222;
$color-muted: #666666;

$color-primary: #4f46e5;
$color-secondary: #22c55e;