@use '../styles/variables.scss';

.container {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c5bfcd;
}

.portfolio {
    width: 70%;
    margin: 0 auto;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.welcome {
    width: variables.$content-width; // 100% 
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: cadetblue;

    margin-top: -60px; // this is to remove the height from navbar
}
.about{
    height: 100vh;
    display: flex;
    align-items: center;
    &__container {
    width: variables.$content-width;
    max-width: 500px;
    height: 500px;
    background-color: #ede9e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    border-radius: 50px;
    margin-bottom: 5%;
    }

    &__text {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.projects {
    // background-color: #b8b0c5;
    border-radius: 50px;
    margin-bottom: 5%;
    height: 100vh;
}
.contact {
    width: variables.$content-width;
    height: 500px;
    height: 50vh;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 8%;
}