@use '../styles/variables.scss';

.portfolio {
    width: 70%;
    margin: 0 auto;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    width: variables.$content-width; // 100% 
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    /* position: absolute;
    top: 0; */
}
.about{
    width: variables.$content-width;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    &__text {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
// .projects {
//     width: variables.$content-width;
//     height: 500px;
//     background-color: violet;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
.contact {
    width: variables.$content-width;
    height: 500px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}