.container-portolio-page {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-welcome {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    /* position: absolute;
    top: 0; */
}
.container-about-me {
    width: 60%;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.container-my-projects {
    width: 60%;
    height: 500px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-contact-me {
    width: 60%;
    height: 500px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}