body {
    /* height: 200vh; */
    /* margin-top: 60px; */
}
.container-portolio-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-container {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}