.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 70%;
    height: 70%;
    &__left {
        // width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    &__inputfield {
        // width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__inputs {
        margin-bottom: 1.2rem;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }
    &__inputs:focus {
        // background-color: saddlebrown;
        outline: 2px rgba(0, 0, 0, 0.347) solid;
        background-color: rgb(234, 232, 232);
        
    }
    &__h2 {
        margin-top: 0;
    }
}

.fa-brands {
    font-size: 40px;
}