
.navbar {
 width: 100%;
 background-color: #ffeff2;
 box-shadow: 0 2px 8px #00000015;
 position: sticky;
 top: 0;
 z-index: 1;

 
}
nav {
//   position: sticky;
//   top: 0;
//   z-index: 1;

  height: 60px;
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffeff2;
  
  text-align: center;

  

}
li {
    list-style: none;
    min-width: 66px;
    padding: 2%;
    margin: 2%;
    
}
ul {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}
.ul-right {
    width: 300px;
}
ul, a {
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #333333de;
    // color: aliceblue;
    &:hover {
        color: rgb(124, 124, 124);
    }
    // &:active { // funkar inte?
    //     color: #000;
    // }
}
.navbar__sun {
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
}