.PopupCard { // this is only the backgroun
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; // förut 1, haft 0 också

    width: 100%;
    height: 100%;
    overflow-y: hidden;
    
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        // height: 100%;
        width: 1100px;
        max-width: 80vw;
        max-height: 70vh;
        min-height: 70vh;
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;

        &--scroll {
            overflow: hidden;
            .PopupCard__image-section {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                max-height: 600px;
                overflow-y: auto; // ger scroll i bilden 
                width: 400px;
            }
            .PopupCard__img {
                width: 100%;
                border-radius: 0;
            }
            .PopupCard__image-section img {
                width: 100%;
                max-width: 100%;
            }
        }

        &--grid {
            .PopupCard__image-section {
                display: grid;
                grid-template-columns: 1fr 1fr;
                // gap: 5%;
                gap: 5rem 2rem;
                grid-auto-rows: auto; // ?
            }
            .PopupCard__img {
                width: 250px;
                height: auto;
                object-fit: cover;
                border-radius: 1rem;
            }
            .PopupCard__image-section img:last-of-type {
                grid-column: 2;
                grid-row: 1 / span 2;
                align-self: center;
            }
        }
    }
    &__text-section {
        max-width: 25%;
        color: black;
        position: relative;
        padding: 20px;
    }
    // &__info {
    //     // overflow-y: auto;
    // }
    &__closeBtn {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(123, 123, 123);
        font-size: 12px;
    }
}

// body {
    // overflow-y: hidden;
// }


