@use '../styles/variables.scss';

.projects {
    width: variables.$content-width;
    min-height: 500px;
    // background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.card {
    color: #333;
    background-color: rgb(255, 255, 255);
    width: 300px;
    // width: 100%;
    height: 400px;
    /* border: 3px solid rgb(251, 142, 0); */
    margin: 10px;
    /* padding: 20px; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: 0 2px 8px #00000069;

    &__top {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bottom {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // text-align: center;
    }
    &__img {
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        
    }
    &:hover {
        transform: scale(1.01);
        &:hover .card__more {
            opacity: 1;
        }
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.868);
    }
    &__title {
        font-size: 30px;
        margin-bottom: 0;
    }
    &__tags {
        margin-top: 0;
    }
    &__more {
        width: 80px;
        opacity: 0;
        transition: opacity 1s;
        position: absolute;
        bottom: 10px;
        // font-style: italic;
        letter-spacing: 0.2;
        color: rgba(0, 0, 0, 0.585);
    }
}

