@use '../styles/variables.scss';

.projects {
    width: variables.$content-width;
    min-height: 500px;
    background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__content {
        display: flex;
        flex-direction: row;
    }
}

.card {
    color: #333;
    background-color: rgb(255, 255, 255);
    width: 300px;
    // width: 100%;
    height: 400px;
    /* border: 3px solid rgb(251, 142, 0); */
    margin: 10px;
    /* padding: 20px; */
    border-radius: 10px;
    overflow: hidden;

    &__top {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
        margin: 0;
    }
    &__bottom {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
    &__img {
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    &:hover {
        transform: scale(1.01);
        opacity: 0.9;
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.868);
    }
    &__title {
        font-size: 30px;    
    }
}
