@use '../styles/variables.scss';
.welcome {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        max-width: 80%;
    }
    &__text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__img {
        // width: 400px;
        // height: 400px;
        // flex: 0 0 auto;
        // border-radius: 50%;
        
        // background-image: url(../assets/jag.png);
        // background-size: 105%;
        // background-position: center -170px;

        //         //keep this commented out 
        //         // background-image: url(../assets/me2.png);
        //         // background-size: 130%;
        //         // background-repeat: no-repeat;
        //         // background-position-x: 50%;
    
        // transition: 0.5s ease-in-out;
        // position: relative;
        // overflow: visible;

        //

        width: 400px;
        height: 400px;
        flex: 0 0 auto;
        // border-radius: 50%;
        // border: 2px double black;
        background-image: url(../assets/girl.png);
        background-image: url(../assets/testbild2.png);
        background-image: url(../assets/ploj.png);
        background-size: 105%;

        //

        // this is the text art 
        // width: 440px;
        // height: 440px;
        // flex: 0 0 auto;
        // border-radius: 50%;
        // position: relative;
        // overflow: hidden;
        // font-size: 10px;
        // color: blue;

    }
    &__img:hover {
        background-image: url(../assets/AIme.png);
        background-image: url(../assets/funAI.png);
        background-size: 107%;
    }
    &__arrow {
        position: absolute;
        width: 50%;
        transform: rotate(-0.02turn);
        left: -30%;
        top: 110%;

        opacity: 0;
        animation: fadein 4s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    &__arrowtext {
        width: 200px;
        text-align: center;
        position: absolute;
        left: -60%;
        top: 108%;
        transform: rotate(-0.02turn);
        font-family: fantasy;
        
        opacity: 0;
        animation: fadein 4s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    &__seemore {
        width: 100px;
        position: absolute;
        inset: 0;
        margin: 700px auto;

        &__seemore, a {
            text-decoration: inherit;
        }
    }
    &__scroll {
        width: 120px;
        height: 80px;
            
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-weight: 200;
        text-decoration: inherit;
        font-size: 12px;
        font-style: italic;
        }

        &__scroll, p {
            margin: 7px;
            letter-spacing: 1px;
        }
    
}



@keyframes fadein {
    to {
        opacity: 1;
    }
}
// @keyframes fadeintext {
//     0% {opacity: 0;}
//     // 50% {opacity: 0.6;}
//     100% {opacity: 1;}
// }