@use '../styles/variables.scss';
.welcome {
    &__text {
        padding: 20px;
    }
    &__img {
        width: 400px;
        height: 400px;
        flex: 0 0 auto;
        border-radius: 50%;
        
        background-image: url(../assets/me.jpg);
        background-size: 110%;
        background-position: center -170px;
    
        transition: 0.5s ease-in-out;

        position: relative;
        overflow: visible;
    }
    &__img:hover {
        background-image: url(../assets/AIme.png);
        background-size: 107%;
    }
    &__arrow {
        position: absolute;
        width: 50%;
        transform: rotate(-0.02turn);
        left: -30%;
        top: 110%;

        opacity: 0;
        animation: fadein 4s ease-in-out forwards;
        animation-delay: 1.5s;
    }
    &__arrowtext {
        width: 200px;
        text-align: center;
        position: absolute;
        left: -60%;
        top: 108%;
        transform: rotate(-0.02turn);
        font-family: fantasy;
        
        opacity: 0;
        animation: fadein 4s ease-in-out forwards;
        animation-delay: 1.5s;
    }
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}
// @keyframes fadeintext {
//     0% {opacity: 0;}
//     // 50% {opacity: 0.6;}
//     100% {opacity: 1;}
// }