@use '../styles/variables.scss';
.welcome {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        max-width: 80%;
    }
    &__text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__img {
        width: 400px;
        height: 400px;
        flex: 0 0 auto;
        border-radius: 50%;
        
        background-image: url(../assets/jag.png);
        background-size: 105%;
        background-position: center -170px;

        // background-image: url(../assets/me2.png);
        // background-size: 130%;
        // background-repeat: no-repeat;
        // background-position-x: 50%;
    
        transition: 0.5s ease-in-out;

        position: relative;
        overflow: visible;
    }
    &__img:hover {
        background-image: url(../assets/AIme.png);
        background-image: url(../assets/funAI.png);
        background-size: 107%;
    }
    &__arrow {
        position: absolute;
        width: 50%;
        transform: rotate(-0.02turn);
        left: -30%;
        top: 110%;

        opacity: 0;
        animation: fadein 4s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    &__arrowtext {
        width: 200px;
        text-align: center;
        position: absolute;
        left: -60%;
        top: 108%;
        transform: rotate(-0.02turn);
        font-family: fantasy;
        
        opacity: 0;
        animation: fadein 4s ease-in-out forwards;
        animation-delay: 0.5s;
    }
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}
// @keyframes fadeintext {
//     0% {opacity: 0;}
//     // 50% {opacity: 0.6;}
//     100% {opacity: 1;}
// }