body {
    background-color: rgb(202, 179, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}