body {
    // background-color: rgb(202, 179, 251);
    // background-color: white;
  min-height: 100vh;
    // height: 100vh;
    background: linear-gradient(
    to bottom,
    #f8d395 0%,
    
    #9698db
  );
  background-attachment: fixed;


  

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    color: #333;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

// linear-gradient(
// #d0ebe9 0%, #56387f 50%, #847991 100%)
// #56387f 50%,